deegree-webservices-vrn/src/main/resources/META-INF/schema/vrnfiltersqlfeaturestore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cds-vrn:deegree-extension:filter"
	elementFormDefault="qualified" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
	<annotation>
		<appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="nl.ipo.cds.deegree.persistence.jaxb" />
			</jaxb:schemaBindings>
		</appinfo>
	</annotation>
	<element name="VRNFilterSQLFeatureStore">
		<annotation>
			<documentation>SQL FeatureStore that is configured by an SQL statement/connection.</documentation>
			<appinfo>
				<jaxb:class name="VRNFilterSQLFeatureStoreConfig" />
			</appinfo>
		</annotation>
		<complexType>
			<sequence>
<!-- 				<element name="StorageCRS" type="string" minOccurs="0" /> -->
<!-- 				<element name="FeatureTypeName" type="string" minOccurs="0" /> -->
<!-- 				<element name="FeatureTypeNamespace" type="string" minOccurs="0" /> -->
<!-- 				<element name="FeatureTypePrefix" type="string" minOccurs="0" /> -->
			</sequence>
		</complexType>
	</element>
</schema>